
@font-face {
    font-family: 'alagard';
    src: url('../assets/Font/alagard.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
body, html {
    overflow-y: hidden;  
    overflow-x: hidden;
    background-color: black;
    font-family: 'alagard', sans-serif;
    user-select: none;
}


