@font-face {
  font-family: 'Castlevania';
  src: url('../assets/Font/fette-unz-fraktur.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Castlevania', sans-serif;
  position: relative;
  user-select: none;
}
canvas {
  filter: blur(1px);
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -webkit-crisp-edges; /* Webkit (Safari) */
  image-rendering: pixelated; /* Chrome */
}
.disable-interaction {
  pointer-events: none;
}
/* ----------------- Menu button ----------------- */
.menuButton {
  display: block;
  margin: 40px auto;
  font-family: 'Castlevania', sans-serif;
  font-size: 50px;
  font-style: normal;
  cursor: pointer;
  background-color: transparent;
  color: rgb(192, 98, 40);
  border: none;
}
.backButton,
.credit,
.setting {
  font-family: 'Castlevania', sans-serif;
}
/* --------------- Fullscreen button -------------- */
#fullscreenContainer {
  position: fixed;
  top: 0%;
  right: 0%;
  z-index: 3;
  border: none;
  background: none;
}
#fullscreenContainer:hover {
  filter: drop-shadow(0px 0px 10px #4444dd);
}
/* ------------------------------------------------ */
@media only screen and (max-width: 600px) {
  .menuButton {
    font-size: 30px;
  }
}
@media only screen and (max-height: 400px) {
  .menuButton {
    font-size: 20px;
    margin: 10px auto;
  }
}
